@{
    ViewBag.Title = "Index";
}
<p>
    Creou is a software development specalising in helping clients innovate through
    the construction of bespoke software packages that can bring efficiency and transparency
    to their operations to improve the management’s ability to truly take control of
    their business.
</p>
<p>
    We are experts in building software that supports the operations work flow within
    organizations. We also combine out software with hardware monitoring and control
    systems to build complete solutions</p>
