<h1>Community involvement</h1>
                Creou take an active role in contributing to the software development community.

<ul>
    <li>
        DDD East Anglia (2013/2014) – Developer conference
        <ul>
            <li>DDD East Anglia (2013/2014) – Developer conference</li>
            <li>Part of the organising team for two annual developer conferences.</li>
            <li>300 attendees, 5 tracks, 25 speakers.</li>
        </ul>
    </li>
    <li>Sponsor to DDD South west 2014.</li>
    <li>Python Club (2012/2013) – Two 6 week courses at a local school teaching game programming.</li>
    <li>
        NxtGenUG (2011-2013)
        Delivered three 20 minute talks:
        <ul>
            <li>Entity Framework 4 POCO (Rated 7.2/9).</li>
            <li>Programmable Microcontrollers (Rated 8.1/9).</li>
            <li>Introduction to XNA (Rated 8.5/9)</li>
        </ul>
    </li>
    <li>XNA-UK UG (2010-2012) – Part of the organising team for this user group dedicated to XNA.</li>
</ul>