<h1>Open source and other projects</h1>
<p>
    Creou regularly open sources software projects that we use to expand our experience and knowledge of technologies. Source code for many of our projects is available on GitHub. <a href="http://github.com/creou">github.com/creou</a>
</p>

<ul>
    <li>
        <a href="http://creou.com/blog/oneweekgame">Boxed in</a> - puzzle game for windows phone 7 />8 and Windows 8 Modern style UI.
        <ul>
            <li>Beta version created in one week.</li>
            <li>Currently preparing final version for market place release. (Demo available on request)</li>
            <li>Prize winner in CodeProject / Intel AppInnovation competition.</li>
            <li>C#.Net v4.5, XNA 4, MonoGame, Windows Phone 8, Windows 8.</li>
        </ul>
    </li>
    <li>
        <a href="https://github.com/Creou/OISCVM">OISC VM</a> - Virtual machine environment and assembler for "One Instruction Set Computing" CPU.
        <ul>
            <li>C#/.Net v4.</li>
        </ul>
    </li>
    <li>
        <a href="https://github.com/creou/creoudotcom">Creou Website</a> - We’ve open sourced this website so you can see how it was created.
        <ul>
            <li>Asp.Net MVC 5, Bootstrap, jQuery</li>
        </ul>
    </li>
</ul>