<h1>Some recent projects</h1>

<ul>
    <li>In 2013 Creou was engaged by a major corporation to provide development services for multiple apps on the Windows Phone platform with active user counts in excess of 6 figures.</li>
    <li>Continued development contract for new features and ongoing support.</li>
</ul>

<div class="project">
    <div class="project-header">
        Greenhous Group – Multiple engagements
    </div>

    June 2014 – December 2014.
    <ul>
        <li>Delivered major project to provide the server side infrastructure for a new web based vehicle management system.</li>
        <li>WebAPI server with entity framework data access.</li>
        <li>Fully scalable running on Azure.</li>
        <li>Successful delivery 2 weeks ahead of schedule.</li>
    </ul>
    <ul class="techList">
        <li>C#/.Net&nbsp;v4.5</li>
        <li>WebAPI&nbsp;2</li>
        <li>Entity&nbsp;framework</li>
        <li>Azure</li>
        <li>VSO</li>
    </ul>
    May 2011 – November 2011
    <ul>
        <li>Assisted with their 11th hour development push to complete their internal sales platform (WPF).</li>
        <li>Development of a new prototype retail website (ASP.Net MVC)</li>
        <li>Development of a new MOT booking platform (Silverlight)</li>
    </ul>
    <ul class="techList">
        <li>C#/.Net&nbsp;v3.5/4</li>
        <li>WPF</li>
        <li>Prism</li>
        <li>ASP.Net&nbsp;MVC&nbsp;3</li>
        <li>Razor</li>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>jQuery</li>
        <li>Modernizr</li>
        <li>Silverlight&nbsp;4</li>
        <li>RIA&nbsp;Services</li>
        <li>NHibernate</li>
        <li>Entity&nbsp;framework</li>
        <li>SQL&nbsp;Server&nbsp;2005/2008</li>
        <li>TFS</li>
    </ul>
</div>

<div class="project">
    <div class="project-header">
        Bravissimo Ltd – April 2012 – April 2013.
    </div>

    <ul>
        <li>Part of the team delivering a brand new mobile website.</li>
        <li>Single page app architecture.</li>
        <li>Support for iPhone, Android and Windows Phone 7/8.</li>
    </ul>

    <ul class="techList">
        <li>JavaScript</li>
        <li>HTML&nbsp;5</li>
        <li>CSS&nbsp;3</li>
        <li>Backbone.js</li>
        <li>Backbone.Marionette</li>
        <li>jQuery</li>
        <li>Underscore.js</li>
        <li>Handlebars.js</li>
        <li>Jurassic.net</li>
        <li>C#.Net&nbsp;v4</li>
        <li>ASP.Net&nbsp;MVC&nbsp;3</li>
        <li>Razor</li>
        <li>Git</li>
    </ul>
</div>

<div class="project">
    <div class="project-header">
        Aqua Intelligence – March/April 2012.
    </div>

    <ul>
        <li>Development of improvements to their Mercedes Benz Accelerate sales platform.</li>
    </ul>

    <ul class="techList">
        <li>C#.Net&nbsp;v4</li>
        <li>ASP.Net&nbsp;MVC&nbsp;3</li>
        <li>Razor</li>
        <li>Entity&nbsp;framework</li>
        <li>SQL&nbsp;Server&nbsp;2008</li>
        <li>TFS</li>
    </ul>
</div>

<div class="project">
    <div class="project-header">
        Crimson – December 2011 – February 2012.
    </div>
    <ul>
        <li>Development of two new modules for existing PharmaBase platform.</li>
    </ul>

    <ul class="techList">
        <li>C#.Net&nbsp;v3.5/v4</li>
        <li>SharePoint&nbsp;2010</li>
        <li>ASP.Net</li>
        <li>WCF&nbsp;Data&nbsp;Services</li>
        <li>Entity&nbsp;framework</li>
        <li>SQL&nbsp;Server&nbsp;2008</li>
        <li>TFS</li>
    </ul>
</div>