<h1>Meet the team</h1>
<ul>
    <li>
        Simon
        <ul>
            <li>10 years software development experience.</li>
            <li>MCPD since 2009 (.net windows developer)</li>
            <li>Wide range of experience across the entire .net ecosystem from .net 2.0 to 4.5</li>
            <li>WinForms, WPF, Windows Phone, Windows 8, ASP.Net MVC, Razor, JavaScript, HTML 5, CSS 3</li>
        </ul>
    </li>
    <li>
        Sam
        <ul>
            <li>5 years .net experience.</li>
            <li>Recently completed a WebAPI 2/Azure project, including responsibility for the architecture of large parts of the system.</li>
            <li>Passionate about unit testing. Practical experience with MsTest and MOQ</li>
            <li>In depth knowledge of SQL Server and Entity framework performance optimisation.</li>
            <li>Experienced with WCF services/clients.</li>
            <li>Recent experience building cross platform mobile websites with Angular.js and Bootstrap.</li>
        </ul>
    </li>
    <li>
        Colin
        <ul>
            <li>5 years .net experience, plus several years of user facing technical support experience.</li>
            <li>Part of the team for a large WebAPI 2 project.</li>
            <li>Practical experience with entity framework and SQL server databases.</li>
            <li>Familiar with a range of continuous integration and build systems. (CCNet, Nant)</li>
            <li>Recent experience building cross platform mobile apps with Xamarin technologies.</li>
        </ul>
    </li>
</ul>