@using CreouDotCom.ViewModels
@model CreouDotCom.ViewModels.BaseViewModel
@{
    ViewBag.Title = "About";
    ViewBag.MenuPage = CreouDotCom.ViewModels.MenuPage.About;
}
@section Header
{
    <link href="/css/tech-match.less" rel="stylesheet" type="text/css" />

    <script src="/scripts/knockout-2.2.1.min.js" type="text/javascript"></script>
    <script src="/scripts/underscore.min.js" type="text/javascript"></script>

    <script src="/scripts/tech-match.js" type="text/javascript"></script>

    <script src="/scripts/masonry.pkgd.min.js"></script>

    <script>
        $(function () {
            techMatch.init($('#tech-match'),
                [
                    { name: 'C#', ex: 9.5, good: true, im: 10, cm: 'C# is our core expertise. The team has been using C# and .Net since version 2.0 and have wide ranging knowledge of most parts of the framework.' },
                    { name: 'Javascript', ex: 9, good: true, im: 9, col: 2, cm: 'The team has a range of JavaScript experience with the ability to go far beyond simple jQuery usage.' },
                    { name: 'HTML', ex: 9, good: true, im: 9, col: 2, cm: 'Several years of experience with both HTML and XHTML including use of HTML5 semantic markup.' },
                    { name: 'CSS', ex: 8, good: true, im: 9, col: 2, cm: 'We are comfortable manually writing CSS in both static and flexible layouts. We are particularly excited by what CSS flexbox and grid layouts brings to the web toolkit.' },
                    { name: 'Asp.Net MVC', ex: 8, good: true, im: 9, col: 3, cm: 'Asp.Net MVC fits perfectly with the way we prefer to develop websites with strong focus on the markup.' },
                    { name: 'WepAPI', ex: 7, good: true, im: 9, col: 3, cm: 'We typically default to using WebAPI when in need of a server side for our mobile apps.' },

                    { name: 'Entity Framework', ex: 8, good: true, im: 9, col: 3, cm: 'We\'ve made regular use of Entity framework since version 1. Our preference is for use the code first approach, but we are equally comfortable with the model and database first forms.' },
                    { name: 'NHibernate', ex: 5, good: true, im: 8, col: 2, cm: 'We have developers who have worked on projects using NHibernate in the past, and while not intimately familiar with it we are confident that it is something we can adapt to quickly.' },
                    { name: 'Sql Server', ex: 7, good: true, im: 8, col: 2, cm: 'While we are not DBAs, we are confident with the use of SQL sever for storage and querying.' },
                    { name: 'Oracle', ex: 2, good: true, im: 8, col: 2, cm: 'We have some developers with Oracle experience in past projects that supported multiple database backends which has left us with a passing knowledge of oracle databases.' },

                    { name: 'jQuery', ex: 8, good: true, im: 8, col: 2, cm: 'jQuery is indispensable on the web. While we do not consider ourselves dependant on it, jQuery has certainly become a key part of our development workflow' },
                    { name: 'Modernizr', ex: 8, good: true, im: 8, col: 2, cm: 'We find Modernizr invaluable when working on projects that support legacy browsers.' },
                    { name: 'Underscore.js', ex: 7, good: true, im: 8, col: 2, cm: 'We find that underscore picks up where jQuery ends and provides the perfect accompaniment. We are especially fans of underscores array manipulation functions.' },
                    { name: 'Backbone.js', ex: 7, good: true, im: 8, col: 2, cm: 'We are huge fans of the Backbone.js framework for single page apps, but we generally prefer Knockout.js or Angular.js for regular websites.' },
                    { name: 'Knockout.js', ex: 6, good: true, im: 8, col: 2, cm: 'When it comes to adding complex functionality to regular websites Knockout.js is one of our favourite frameworks.' },
                    { name: 'Angular.js', ex: 5, good: true, im: 8, col: 2, cm: 'We recently gained some angular experience on some small scale projects. We are keen to expand on our usage in the future.' },
                    { name: 'Handlebars.js', ex: 8, good: true, im: 8, col: 2, cm: '' },
                    { name: 'Backbone Marionette', ex: 7, good: true, im: 8, col: 3, cm: '' },
                    { name: 'Xamarin', ex: 5, good: true, im: 8, col: 2, cm: 'We see Xamarin as the future of mobile development. We are still ramping up on our usage of it, but we are confident in our approach to Xamarin projects.' },

                    { name: 'Git', ex: 8, good: true, im: 7, cm: 'Some members of the team love it, some hate it. It\'s like Marmite. Those who like it would never go back given the choice.' },
                    { name: 'Subversion', ex: 8, good: true, im: 7, col: 2, cm: 'Most of the team are comfortable with subversion. However we have rarely been required to configure it.' },
                    { name: 'Tfs', ex: 8, good: true, im: 7, cm: 'All of the team understand and are comfortable with TFS.' },

                    { name: 'Winforms', ex: 8, good: true, im: 7, col: 2, cm: 'Prior to WPF Winforms was our primary tool for application development. We are comfortable using it, however WPF will always take precedence for any new projects.' },
                    { name: 'WPF', ex: 8, good: true, im: 7, cm: 'We initially discovered WPF when it was still known as Avalon. we have since worked on several large scale projects using WPF and it is our framework of choice for desktop based application development.' },
                    { name: 'XNA / Monogame', ex: 8, good: true, im: 7, col: 2, cm: 'Our recent game project (Boxed In) was started in XNA, and ported to Monogame when Microsoft announced Windows 8 modern UI would not support XNA.' },
                    { name: 'Silverlight', ex: 5, good: true, im: 7, col: 2, cm: 'Thanks to our strong XAML knowledge via WPF, on several occasions we have been able to implement Silverlight web projects quickly and easily.' },
                    { name: 'WCF', ex: 5, good: true, im: 7, cm: 'WCF is a tool we make use of when necessary.' },

                    { name: 'Windows Phone 7/8', ex: 9, good: true, im: 7, col: 2, cm: 'We have a lot of experience on a range of windows phone projects, including some with 6 figure user counts.', good: true },
                    { name: 'Windows 8/10 - Modern UI', ex: 7, good: true, im: 7, col: 3, cm: 'As the windows phone and WinRT platforms converge many of our ongoing app projects are migrating to universal apps.', good: true },

                    { name: 'Python', ex: 3, good: true, im: 7, cm: 'Over the past two years We\'ve run several 6 week Python courses for students at a local school. Although our Python experience is fairly limited, it is something that we could easily adapt to if required.' },

                    { name: 'Asp.Net Webforms', ex: 1, good: false, im: 7, col: 2, cm: 'We prefer to avoid Webforms whenever possible. It does not fit well with our development practises. We will occasionally consider projects that involve a small amount of legacy Webforms, but will generally not undertake new projects using this technology.' },
                    { name: 'Sharepoint', ex: 2, good: false, im: 7, col: 2, cm: 'Although we do have some limited Sharepoint experience it is not a technology that we enjoy working with, so prefer to avoid it.', plc: { message: 'We prefer not to take on projects that have a large Sharepoint component.', good: false } },
                    { name: 'VB6', ex: 7, good: false, im: 7, cm: 'Although among the team we have plenty of VB6 experience, it is an old technology that we would prefer not to work with again.', plc: { message: 'We prefer not to take on projects that have a large VB6 component.', good: false } },
                ],
                [
                    { min: 90, colour: 'green', message: 'We are a fantastic match for this project. We have plenty of experience in all of the technologies involved.' },
                    { min: 70, colour: 'green', message: 'This project is a great match for us. We have a good level of experience for the majority of technologies involved.' },
                    { min: 50, colour: 'green', message: 'While there are certainly some technologies in this project that We are less familiar with it shouldn\'t take long to adapt. In past projects We\'ve proven capable of quickly adapting to new technologies especially when they are in a domain we am comfortable in.' },
                    { min: 15, colour: 'orange', message: 'It looks like you have a lot of technologies that we are less experienced with, it\'s possible we might not be your perfect match. Don\'t rule us out entirely however, as part of an existing team there may still be a lot we can bring. We have had plenty of successful projects in the past that involved entirely new technologies.' },
                    { min: 0, colour: 'red', message: 'There really doesn\'t seem to be much crossover between our skills and your project. It would presumptuous of us to reject it purely based on an automated matching tool so why not contact us to discuss details.' }
                ]
            );
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#tabs").tabs();
        });
    </script>
}

<div class="columnContent">

    <div class="row">
        <div class="col-sm-4 col-sm-push-1">
            <p class="text-center">
                <a href="@Url.Content("/content/about/Creou-Profile.pdf")">Download PDF Profile</a>
            </p>
        </div>
        <div class="col-sm-4 col-sm-push-2">
            <p class="text-center">
                <a href="@Url.Content("/content/about/Creou-Profile.docx")">Download DOCX Profile</a>
            </p>
        </div>
    </div>

    <p>At Creou we are passionate about software development. We are a consultancy specialising in everything .Net. Founded in 2011 we provide expertise and developer support for C# .Net projects. We rapidly apply our previous experience to an unfamiliar code base. We find new language features fascinating (especially C# 6’s new null conditional operator)</p>

    @{Html.RenderPartial("_TechMatch");}
    
    <div id="creou-profile-tabs" class="creou-profile hidden-xs">
        <div id="tabs" class="creou-profile-section-content">
            <ul class="tabMenu">
                <li><a href="#tabs-TheTeam">The Team</a></li>
                <li><a href="#tabs-OpenSource">Open Source</a></li>
                <li><a href="#tabs-Community">Community</a></li>
                <li><a href="#tabs-Projects">Projects</a></li>
            </ul>

            <div id="tabs-TheTeam" class="creou-profile-section">
                @{Html.RenderPartial("_TheTeam");}
            </div>
            <div id="tabs-OpenSource" class="creou-profile-section">
                @{Html.RenderPartial("_OpenSource");}
            </div>
            <div id="tabs-Community" class="creou-profile-section">
                @{Html.RenderPartial("_Community");}
            </div>
            <div id="tabs-Projects" class="creou-profile-section">
                @{Html.RenderPartial("_Projects");}
            </div>
        </div>
    </div>

    <div class="creou-profile visible-xs">
        <div class="creou-profile-section">
            @{Html.RenderPartial("_TheTeam");}
        </div>
        <div class="creou-profile-section">
            @{Html.RenderPartial("_OpenSource");}
        </div>
        <div class="creou-profile-section">
            @{Html.RenderPartial("_Community");}
        </div>
        <div class="creou-profile-section">
            @{Html.RenderPartial("_Projects");}
        </div>
    </div>
</div>

@section SideBar
{
    @{Html.RenderPartial("_Contact");}
}
